.apartments {
    display: block;
    margin-bottom: 5.6rem;

    &_hide {
        display: none;
    }

    // .apartments__list
    &__list {
    }
    // .apartments__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    // .apartments__link
    &__link {
        font-size: 1.6rem;
        line-height: 19 / 16 * 100%;
        // ._active
        &_active {
            color: $blue;
            text-decoration-line: underline;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration-line: none;
                }
            }
        }
    }
}
