.container {
    // Ширина контейнера в макете равна 1240, но посколько мы импользуем отступы безопасности слева и справа мы прибавляем ещё 30
    max-width: 1310px;
    margin: 0 auto;

    // Отступы безопансности
    padding: 0 1.5rem;
}
