.mobile-nav {
    display: none;

    transform: translateY(-101%);
    transition: 0.3s ease-in transform;

    background-color: $grey;
    color: $blue;
    opacity: 0.9;
    text-align: center;

    @media (max-width: $md1) {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;

        position: absolute;
        top: -100%;
        left: 0;
    }

    // .mobile-nav__list
    &__list {
        @media (max-width: $md1) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            gap: 4rem;

            max-width: 24rem;

            overflow: auto;

            margin: 1em 0;
        }
    }
    // .mobile-nav__item
    &__item {
        & .phone-header {
            align-items: stretch;
            font-size: 2rem;
            font-weight: 500;

            text-decoration: underline;
        }
    }
    // .mobile-nav__link
    &__link {
        font-size: 2rem;
        font-weight: 500;
    }

    &_active {
        transform: translateY(100%);
    }
}
