<div class="modal">
	<div class="modal__content">
		<button type="button" class="modal__close btn">
			<img src="/assets/images/icons/close.svg" alt="Close" />
		</button>

		<div class="modal__wrapper">
			<div class="modal__left">
				<div class="modal__title1 title_modal">Этаж 7</div>
				<img
					src="/assets/images/floor.png"
					alt="Планировка"
					class="modal__img"
				/>
			</div>
			<!-- /.modal__left -->

			<div class="modal__right">
				<div class="modal__title2 title_modal">Выберите квартиру:</div>

				<div class="modal__ritgh-apartments apartments">
					<ul class="apartments__list">
						<li class="apartments__item _active">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a
								href="#"
								class="apartments__link apartments__link_active"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
						<li class="apartments__item">
							<a href="#" class="apartments__link"
								>кв. 40, 2 комн. 50 кв. м.</a
							>
						</li>
					</ul>
				</div>

				<i class="modal__right-mark"
					>Квартиры, отмеченные серым, уже выкуплены</i
				>
			</div>
			<!-- /.modal__right -->
		</div>
	</div>
</div>
